<%= form_with model: @post, local: true do |f| %>

  <div id="image-previews">
    <%@post.images.each.with_index do |image, i| %>
      <%# ーーーーー変更ここからーーーーー %>
      <div class="image-preview" data-image-blob-id= <%= image.blob_id %> >
      <%# ーーーーー変更ここまでーーーーー %>
        <%= image_tag image,class:"image-preview__image" %>
        <div class="image-preview-buttons">
          <div class="image-edit-button">変更</div>
          <div class="image-delete-button">削除</div>
        </div>
      </div>
    <%end%>
    <%=f.label :images, "クリックして画像を選択", id:"image-select-button" %>
  </div>

  <%= f.text_field :content, placeholder: 'type a message' %>
  <%= f.file_field :images, direct_upload: true %>
  <%= f.submit '送信' %>

<% end %>
<%= link_to "トップへ戻る", root_path %>
